// $color--brand-primary: #4f7f63;
$color--brand-primary: #2f5d46;
$color--brand-secondary: #000;
$color--brand-text: #000;
$color--brand-text-muted: #666666;

$color--white: #ffffff;
$color--glass: rgba(255, 255, 255, 0.5);
$color--success: #00ffb2;
$color--info: #0084ff;
$color--danger: #ff4800;
$color--warning: #ffb300;
$color--muted: #dedede;

$border-radius: 5px;

$break-xxs: 380px;
$break-xs: 680px;
$break-sm: 768px;
$break-md: 1140px;
$break-lg: 1280px;
$break-xl: 1440px;
$break-xxl: 1560px;

:root {
  --color--brand-primary: #{$color--brand-primary};
  --color--brand-secondary: #{$color--brand-secondary};
  --color--brand-text: #{$color--brand-text};
  --color--brand-text-muted: #{$color--brand-text-muted};
  --color--success: #{$color--success};
  --color--info: #{$color--info};
  --color--danger: #{$color--danger};
  --color--warning: #{$color--warning};
  --color--muted: #{$color--muted};
  --color--white: #{$color--white};
  --color--glass: #{$color--glass};
  --border-radius: #{$border-radius};
  --break-xxs: #{$break-xxs};
  --break-xs: #{$break-xs};
  --break-sm: #{$break-sm};
  --break-md: #{$break-md};
  --break-lg: #{$break-lg};
  --break-xl: #{$break-xl};
  --break-xxl: #{$break-xxl};
}
