@import "mixins";

[data-section-type="product-smart-list"] {
}

.gift-tip {
  &--header {
    padding-bottom: 3em;
    text-align: center;
    width: 80%;
    margin: auto;
    line-height: 1;
    h2 {
      font-size: 1.5em;
      line-height: 1.25;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      @media screen and (min-width: 1000px) {
        font-size: 2em;
      }
    }
  }
  &--wrapper {
    display: flex;
    flex-direction: column;
    gap: 3em;
    max-width: 1000px;
    @media screen and (min-width: 1000px) {
      flex-direction: row;
    }
    & > * {
      flex: 10 0 0;
    }
    .Form__Item {
      margin-bottom: 20px;
    }
    .Form__Input {
      border: 0px;
      border-bottom: 1.5px solid #000;
    }
    .Button {
      background-color: var(--gift-tip-modal--highlight-color);
      border-radius: 999px;
    }
  }
  &--product-image {
    mix-blend-mode: darken;
  }
  &--product {
    flex: 7 0 0;
  }
  &--message {
    font-size: 1.25em;
    background: rgba(255, 255, 255, 0.5);
    padding: 1em;
    b {
      display: block;
      margin: 0 0 0.5em 0;
    }
    & > span {
      line-height: 1.25;
      display: inline-block;
      font-size: 1.25em;

      font-family: monospace;
      * {
        font-family: monospace;
      }
      strong {
        color: var(--gift-tip-modal--highlight-color);
      }
    }
  }
  &--placeholder {
    min-width: calc(1.15em * 4);
    height: calc(1.5em);
    margin: 0 5px;
    border-bottom: 1px solid #000;
    display: inline-block;
    padding: 0;
    font-weight: bold;
    text-align: center;
  }
}

.Modal {
  &--GiftTip {
    .Modal__Inner {
      background-color: #efefef;
    }
  }
}
