@import "mixins";
@import "animations";
[data-section-type="user-account"] {
  [role="main"] {
    [data-section-type="customers-account-coupon-list"] {
      max-width: 680px;
      margin: 0;
      .CouponList {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;

        & > * {
          @include elements-in-row(1);
        }
        &__Heading {
          margin: 0 0 0.25em 0;
          &__Title {
            font-size: 1.5em;
            line-height: 1.5;
          }
        }
        &__Categories {
          margin: 5px 0;
          display: none;
        }
        &__Category {
          @include input-pill(lg);
          label {
            white-space: nowrap;
          }
        }
        .CouponItem {
          margin-bottom: 1em;
          padding-bottom: 1em;
          border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
@mixin CustomerCouponWidget {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  &[data-coupon-status="expired"] {
    opacity: 0.5;
    filter: grayscale(1);
  }
  & > * {
    flex: 10 0 0;
  }
  &__Media {
    flex: 5 0 0;
    max-width: 55px;
    @media (min-width: 1280px) {
      max-width: 85px;
    }
    border-radius: 3px;
    overflow: hidden;
  }
  &__Content {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  &__Actions {
    display: flex;
    margin: 5px 0 0 0;
    display: none;
    &.--active {
      display: flex;
    }
  }
  &__Header {
    h3 {
      margin: 0;
      font-weight: bold;
      font-size: 1.25em;
      line-height: 1.15;
    }
  }
  &__Heading {
    display: flex;
    justify-content: space-between;
  }
  &__Description,
  &__Metadata {
    margin: 5px 0 0 0;
    line-height: 0.75;
    display: flex;
  }
  &__Metadata {
    line-height: 1.25;
  }
  &__Button {
    flex: 0 0 auto;
    align-self: stretch;
    padding: 0 0.5em 0 1em;
    display: flex;
    align-items: center;
    svg {
      width: 10px;
      height: 100%;
      opacity: 0.5;
    }
  }

  &__Details {
    width: 100%;

    .Form {
      &__Input {
        height: 100%;
      }
      &__Item {
        margin: 0;
        input {
          &[type="text"] {
            font-size: 1.25em;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1;
            padding: 0.25em 0.5em;
          }
        }
      }
    }
  }

  &[data-coupon-type="private_unauthenticated"] {
    .Form__Item {
      .Form__InputWrapper {
        position: relative;
        overflow: hidden;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          background-color: rgba(255, 255, 255, 0);
          z-index: 2;
          backdrop-filter: blur(5px);
        }
      }
    }
  }
}
.CouponItem {
  @include CustomerCouponWidget();
}

[data-section-type="product"] {
  [data-section-type="customers-account-coupon-list"] {
    border-top: 1px solid #ddd;
    padding: 1em 0;
    .CouponList {
      &__Heading {
        line-height: 1.15;
        margin: 0 0 1em 0;
        &__Title {
          display: block;
          font-size: 1.05em;
          margin: 0 0 0.25em 0;
          text-transform: uppercase;
          // letter-spacing: 0.05em;
        }
      }

      &__SubHeading {
        font-size: 0.9em;
      }
    }
    .CouponItem {
      font-size: 0.7em;
      padding: 1em;
      padding: 0;
      background: #fafafa;
      background: #ffffff;
      margin-bottom: 2em;
      border-radius: 3px;
      border: 0px solid transparent;

      &__Header__Aside {
        display: none;
      }
      &__Heading {
        // justify-content: center;
        h3 {
          margin-bottom: 0.5em;
        }
      }
      &__Media {
        img {
          border-radius: 3px;
          overflow: hidden;
        }

        @media (min-width: 1280px) {
          max-width: 65px;
        }
      }
      &__Metadata {
        font-size: 1em;
      }

      .Form__Item--MixedInput {
        border: 1px solid #ccc;
        border-radius: 3px;
        .Button {
          border: 0px;
          line-height: 1.2;

          background: #fff;
          color: #2f5d46;
          border: 1px solid #2f5d46;
          border-radius: 3px;
        }
      }
    }
  }
}

.Modal--UserCoupons {
  [data-section-type="customers-account-coupon-list"] {
    padding: 1em 0 0 0;
    .CouponList {
      &__Heading {
        line-height: 1.15;
        margin: 0 0 1em 0;
        &__Title {
          display: block;
          font-size: 1.05em;
          margin: 0 0 0.25em 0;
          text-transform: uppercase;
          // letter-spacing: 0.05em;
        }
      }

      &__SubHeading {
        font-size: 0.9em;
      }
    }
    .CouponItem {
      font-size: 1em;
      border-radius: 3px;
      padding: 0 0 1em 0;

      &:last-child {
        border: 0px solid transparent;
      }
      &__Header__Aside {
        display: none;
      }
      &__Heading {
        // justify-content: center;
        h3 {
          margin-bottom: 0.5em;
        }
      }
      &__Media {
        img {
          border-radius: 3px;
          overflow: hidden;
        }

        @media (min-width: 1280px) {
          max-width: 65px;
        }
      }
      &__Metadata {
        font-size: 1em;
      }

      .Form__Item--MixedInput {
        border: 1px solid #ccc;
        border-radius: 3px;
        .Button {
          border: 0px;
          line-height: 1.2;

          background: #fff;
          color: #2f5d46;
          border: 1px solid #2f5d46;
          border-radius: 3px;
        }
      }
    }
  }
}
